@if (isLoading()) {
  <p>Loading homepage...</p>
} @else if (errorMessage()) {
  <p>{{ errorMessage() }}</p>
} @else if (homePage(); as page) {
  <app-hero-section
    [title]="page.heroTitle"
    [description]="page.heroDescription"
    [imageUrl]="page.heroImageUrl"
    [imageAlt]="page.heroImageAlt"
    [buttonText]="page.heroButtonText"
    [buttonUrl]="page.heroButtonUrl"
  />
    @if (page.content) {
    <section class="home-page-content">
      <div [innerHTML]="page.content"></div>
    </section>
  }

<app-popular-services />

<app-quick-actions />

<app-news-section />

<app-events-section />

<app-major-projects />

<app-parks-recreation />

<app-about-melrose />
}
